.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body{
    background-image:url("http://mds-club.ru/images/design/global_bg.gif");
}

.navbar{
    font-family: 'Open Sans Condensed', sans-serif;
}

.tpl{
    display:none
}

table{
    background:#fefefe;
    font-family: 'PT Sans Caption', sans-serif;
    letter-spacing:0.5px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align:inherit;
}

thead{
    background:#eee;
    font-weight:bold;
}


.navbar{
    border-radius:0;
}

.navbar h2{
    margin:7px 0;
    color: #eee;
}

a.link{
    font-size:95%;
}

tr td:nth-child(4){
    text-align:center;
}

#pagination-wrap{
    text-align:center;
}